:root {
    --banner-filter: blur(4px);
    --banner-height: 13.5rem;
    --banner-overlay-gradient: linear-gradient(67.81deg, rgba(0, 0, 0, .64) 35.51%, transparent);
    --navbar-height: 3.5rem;
    --top-margin: .5rem;
    --md-background: 255 255 255;
    --banner-overlap: calc(var(--navbar-height) + var(--top-margin));
    --banner-top: 0;
    --tw-text-opacity: 1;
}

body {
    background-color: #FAFAFA;
}

/* Login.tsx */

.m-8 {
    margin: 2rem;
    /* 32px */
}

.w-72 {
    width: 18rem;
    /* 288px */
}

.site-form-input {
    height: 40px !important;
}

.login-form-button {
    width: 100%;
    height: 40px;
}

/* App.tsx */
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

/* SearchMidia.tsx */
.w-\[250px\] {
    width: 250px;
}

.h-\[150px\] {
    height: 150px;
}

.top-\[0px\] {
    top: 0px;
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}

.transition-\[margin-left\] {
    transition: margin-left 2s ease-in-out;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.right-0 {
    right: 0px;
}

.justify-items-end {
    justify-items: end;
}

.text-gray-500 {
    color: rgb(107 114 128);
}

.text-gray-700 {
    color: rgb(55 65 81);
}

/** MidiaPage.tsx **/
.space-x-2 {
    margin-left: 0.5rem;
    /* 8px */
}

.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem* var(--tw-space-x-reverse));
    margin-left: calc(.5rem* calc(1 - var(--tw-space-x-reverse)));
}

.group[data-selected=true] .group-data-\[selected\=true\]\:text-\[\#06b6d4\] {
    color: rgb(6 182 212 / var(--tw-text-opacity));
}

.bg-\[\#22d3ee\] {
    --tw-bg-opacity: 1;
    background-color: rgb(34 211 238 / var(--tw-bg-opacity));
}

.gap-6 {
    gap: 1.5rem;
}

/** TableMidia.tsx **/
.capitalize {
    text-transform: capitalize;
}

/** ModalMidia.tsx **/
@media screen and (min-width: 200px) {
    .sm-app\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .sm-app\:col-span-3 {
        grid-column: span 3 / span 3;
    }

    .sm-app\:hidden {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .sm-app\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm-app\:col-span-3 {
        grid-column: span 3 / span 3;
    }

}

@media screen and (min-width: 700px) {
    .ml-app\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .sm-app\:col-span-3 {
        grid-column: span 3 / span 3;
    }
}

@media screen and (min-width: 900px) {
    .lg-app\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .col-span-1 {
        grid-column: span 1 / span 1;
    }

    .col-span-2 {
        grid-column: span 2 / span 2;
    }
}

@media screen and (min-width: 1370px) {
    .xl-app\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }

    .col-span-1 {
        grid-column: span 1 / span 1;
    }

    .col-span-2 {
        grid-column: span 2 / span 2;
    }
}

@media screen and (min-width: 2300px) {
    .\xl-app\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .col-span-1 {
        grid-column: span 1 / span 1;
    }

    .col-span-2 {
        grid-column: span 2 / span 2;
    }
}

.border-1 {
    border-width: 1px;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.image-card-col {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-justify {
    text-align: justify;
}

.whitespace-pre-wrap {
    white-space: pre-wrap;
}

.h-\[260px\] {
    height: 260px;
}

.h-\[298px\] {
    height: 298px;
}

/** GridMidia **/
.mb-8 {
    margin-bottom: 2rem;
    /* 32px */
}

.pt-4 {
    padding: 1rem;
    /* 16px */
}

.justify-items-start {
    justify-items: start;
}

/* Modal Midia new */
.mb-auto {
    margin-bottom: auto;
}

.mb-1 {
    margin-bottom: .25rem;
}

.md-content>* {
    margin-bottom: 2rem;
    margin-bottom: calc(var(--bottom-nav-area) + var(--bottom-margin));
    margin-top: 0;
    margin-top: var(--top-margin);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
}

.layout-container {
    --banner-overlay-gradient: linear-gradient(to bottom, rgb(var(--md-background) / .8) 0%, rgb(var(--md-background)) 100%);
    gap: .75rem 1rem;
    grid-template-areas:
        "art title"
        "art stats"
        "info info"
        "buttons buttons"
        "synopsis synopsis"
        "content content";
    grid-template-columns: 100px auto;
}

.layout-container.modal-midia {
    display: grid;
    position: relative;
}

.banner-container,
.banner-image {
    height: 230px;
}

.rounded {
    border-radius: .25rem !important;
}

.banner-container {
    clip: rect(0, auto, auto, 0);
    clip-path: inset(0 0);
    left: 0;
    position: absolute;
    right: 0;
    top: var(--banner-top);
    width: auto;
    z-index: -1;
    border-radius: .25rem;
    
}

.block {
    display: block;
}

.banner-image {
    background-position: 25%;
    background-size: cover;
    position: fixed;
    transition: width .15s ease-in-out;
    width: 100%;
}

.banner-shade {
    backdrop-filter: var(--banner-filter);
    background: var(--banner-overlay-gradient);
    bottom: 0;
    height: auto;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.title-banner {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    grid-area: title;
    line-height: 100%;
    min-width: 0;
    position: relative;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
}

.line-clamp-1, .line-clamp-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.md-md-container {
    all: revert;
}

.genre-midia span {
    font-weight: 700;
    line-Height: 1.5em;
}

.bottom-1 {
    bottom: 0.25rem;
}

.my-6 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.tag {
    align-items: center;
    border-radius: .25rem;
    display: inline-flex;
    min-height: 1.75rem;
    padding: .3125rem .5rem;
    transition: all .1s ease-out;
}

.tag.no-wrapper {
    border-radius: 0;
    margin-bottom: -.3125rem;
    margin-top: -.3125rem;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

@media (min-width: 48rem) {
    .md\:grid-cols-\[1fr_12rem\] {
        grid-template-columns: 1fr 12rem;
    }
}

@media (min-width: 40rem) {
    .layout-container {
        --banner-filter: blur(4px);
        --banner-overlay-gradient: linear-gradient(67.81deg, rgba(0, 0, 0, .64) 35.51%, transparent);
        gap: 0.5rem;
        grid-template-areas:
            "left art title right"
            "left art buttons right"
            "left art info right"
            "left art stats right"
            "left art padding right"
            "left synopsis synopsis right"
            "left content content right";
        grid-template-columns: 1fr 200px minmax(0, calc(1240px - 3.5rem)) 1fr;
    }

    .title-banner {
        padding-bottom: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
        height: var(--banner-height);
        justify-content: flex-end;
        font-size: 3rem;
    }

    .sm\:block {
        display: block;
    }

    .sm\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .sm\:truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .sm\:mx-2 {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .sm\:font-bold {
        font-weight: 700;
    }
}